@charset "UTF-8";

a {
	color : inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: 	#DC143C;
	background-color: #f08080;
}

.menu {
	display: flex;
	list-style: none;
	padding: 0;
}


.menu > li {
	margin: 0 10px;
}



table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid black;
	padding: 5px 10px;
	
}

.writeboard {
	border-collapse: collapse;
}

.writeboard > p > input {
	display: inline-block;
	
}


.page {
	display: flex;
	width: 70%;
	list-style: none;
}
.page li {
	padding: 0 5px;
}